@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap');
.Profileinf {
  grid-area: p;
}
.title {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  user-select: none;
  height: 255px;
  width: 950px;
  background-color: #151728;
  border-radius: 5px;
}
.avatar input{ 
display: none;
 }
 .title .avatar img {
  position: relative;
  left: 25px;
  width: 150px;
  height: 150px;
  top: -105px;
  border-radius: 50%;
  border: 1px solid #000;
}
.setting img{
  cursor: pointer;
}
.title .cap img {
  height: 190px;
  width: 100%;
  border-radius: 5px;
}
.name {
  position: relative;
  font: 20px 'DM Sans', sans-serif;
  color: #fff;
  top: -180px;
  left: 32px;
}
.changeAvatar{

  font: 10px 'DM Sans', sans-serif;
  color: #fff;
  position: relative;
  margin: -109px 0 0 48.4px;
  border-radius: 10px;
  background-color: #151728;
  padding: 5px;
  width: 92px;
  transition-duration: 10s;

}
.setting:hover{
  background-color: 
}
.Introduction {
  background-color: #151728;
  width: 310px;
  height: 150px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.Introduction .heading {
  color: #5c5e6e;
  font: 20px 'DM Sans', sans-serif;
}
.Introduction .status {
  word-wrap: break-word;
  color: #1771d6;
  font: 15px 'DM Sans', sans-serif;
}
.Introduction .status .preStatus {
  color: #c3c5d5;
}
.Introduction .status input {
  background-color: #151728;
  color: #1771d6;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

  outline: none;
  border: none;
  font: 15px 'DM Sans', sans-serif;
}
.contact {
  background-color: #151728;
  width: 310px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  /* height: 260px; */
}
.contact .heading {
  color: #5c5e6e;
  font: 20px 'DM Sans', sans-serif;
}
.contact li {
  list-style: none;
  position: relative;
  left: -40px;
}
.contacts {
  margin: -20px 0 0 0;
}
.contacts a {
  color: #c3c5d5;
  font: 15px 'DM Sans', sans-serif;
  text-decoration: none;
}
.contacts a:hover {
  color: #5c5e6e;
}
.wrapper {
  display: flex;
}
