@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap');
.Profileinf {
  grid-area: p;
}
.title {
  width: 950px;
  height: 255px;

  user-select: none;

  border-radius: 5px;
  background-color: #151728;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.avatar input {
  display: none;
}
.editMode .heading {
  font: 20px 'DM Sans', sans-serif;
  color: #5c5e6e;
}

.editMode {
  width: 310px;
  min-height: 50px;
  margin-top: 20px;
  padding: 10px;

  border-radius: 5px;
  background-color: #151728;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.editMode .save button {
  width: 70px;
  height: 20px;
  margin-left: 15px;

  transition-duration: 0.5s;

  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #1b86f9;
  box-shadow: 0 0 3px 0 #1b86f9;
  /* margin-left: 225px; */
  font: 15px 'DM Sans', sans-serif;
}
.editMode .cancel {
  position: relative;
  top: -24px;

  float: right;

  width: 70px;
  height: 20px;
  margin-right: 20px;
}
.editMode .cancel button {
  width: 70px;
  height: 20px;

  transition-duration: 0.5s;
  font: 15px 'DM Sans', sans-serif;

  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  box-shadow: 0 0 3px 0 #ff0000;
}
.editMode .save button:focus,
.editMode .save button:active,
.editMode .save button:hover {
  opacity: 0.88;
  border: none;
  outline: none;
}
.editMode .cancel button:focus,
.editMode .cancel button:active,
.editMode .cancel button:hover {
  opacity: 0.88;
  border: none;
  outline: none;
}

.editMode input:focus {
  border-bottom: 1px solid#1771d6;
}
.lookingForAJobCheckBox {
  display: inline-flex;
}
.lookingForAJobCheckBox span input {
  width: 10px;
  height: 10px;
}
.lookingForAJobCheckBox span {
  font: 20px 'DM Sans', sans-serif;

  margin-left: 5px;

  color: #1771d6;
}
.editMode li {
  list-style: none;
}
.editHeader {
  text-align: center;
}
.editMode ul {
  position: relative;
  left: -25px;
}
.lookingForAJobDescriptionInput input {
  width: 100px;
}
.editMode input {
  font: 15px 'DM Sans', sans-serif;

  width: 100%;

  color: #1771d6;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: #151728;
}
.edit {
  font: 15px 'DM Sans', sans-serif;

  position: relative;
  top: -98px;

  cursor: pointer;
  transition: color 0.5s;

  color: #5c5e6e;
}
.active {
  color: #fff;
  border-bottom: 2px solid #1b86f9;
}
.edit:hover {
  color: #fff;
  border-bottom: 2px solid #1b86f9;
}
.title .avatar img {
  position: relative;
  top: -105px;
  left: 25px;

  width: 150px;
  height: 150px;

  border: 1px solid #000;
  border-radius: 50%;
}
.setting img {
  cursor: pointer;
}
.title .cap img {
  width: 100%;
  height: 190px;

  border-radius: 5px;
}
.name {
  font: 20px 'DM Sans', sans-serif;

  position: relative;
  top: -180px;
  left: 32px;

  color: #fff;
}
.changeAvatar {
  font: 10px 'DM Sans', sans-serif;

  position: relative;

  width: 92px;
  margin: -109px 0 0 48.4px;
  padding: 5px;

  color: #fff;
  border-radius: 10px;
  background-color: #151728;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.editMode .profileUpdateComplete {
  padding: 7px;
  text-align: center;
  background-color: #def0d3;
  font: 12px 'DM Sans', sans-serif;
  border-radius: 5px;
  font-weight: bold;
  color: #000;
}
.Introduction {
  width: 310px;
  min-height: 50px;
  margin-top: 20px;
  padding: 10px;

  border-radius: 5px;
  background-color: #151728;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.Introduction .heading {
  font: 20px 'DM Sans', sans-serif;

  color: #35363d;
}
.nameE {
  position: relative;
  left: 4px;
}
.editAndName {
  display: flex;
}
.Introduction .status {
  font: 15px 'DM Sans', sans-serif;

  word-wrap: break-word;

  color: #1771d6;
}
.preStatus {
  font: 15px 'DM Sans', sans-serif;

  color: #c3c5d5;
}
.Introduction .status input {
  font: 15px 'DM Sans', sans-serif;

  color: #1771d6;
  border: none;
  outline: none;
  background-color: #151728;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.contact {
  width: 310px;
  margin-top: 20px;
  padding: 10px;

  border-radius: 5px;
  background-color: #151728;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.contact .heading {
  font: 20px 'DM Sans', sans-serif;

  color: #5c5e6e;
}
.contact li {
  position: relative;
  left: -40px;

  list-style: none;
}
.contacts {
  margin: -20px 0 0 0;
}
.contacts a {
  font: 15px 'DM Sans', sans-serif;

  text-decoration: none;

  color: #c3c5d5;
}
.contacts a:hover {
  color: #5c5e6e;
}
.wrapper {
  display: flex;
}
