@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap');
.Profileinf {
  grid-area: p;
}
.title {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  user-select: none;
  height: 255px;
  width: 950px;
  background-color: #151728;
  border-radius: 5px;
}
.avatar input {
  display: none;
}
.editMode .heading {
  color: #5c5e6e;
  font: 20px 'DM Sans', sans-serif;
}

.editMode {
  margin-top: 20px;
  width: 310px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  min-height: 50px;
  border-radius: 5px;
  background-color: #151728;
  padding: 10px;
}
.editMode .save button {
  box-shadow: 0px 0px 3px 0px #1b86f9;
  transition-duration: 0.5s;
  background-color: #1b86f9;
  border: none;
  height: 20px;
  width: 70px;
  margin-left: 15px;
  border-radius: 5px;
  color: #fff;
  /* margin-left: 225px; */
}
.editMode .cancel {
  float: right;
  position: relative;
  height: 20px;
  width: 70px;
  top: -24px;
  margin-right: 20px;
}
.editMode .cancel button {
  box-shadow: 0px 0px 3px 0px red;
  transition-duration: 0.5s;
  background-color: red;
  border: none;
  height: 20px;
  width: 70px;
  border-radius: 5px;
  color: #fff;
}
.editMode .save button:focus,
.editMode .save button:active,
.editMode .save button:hover {
  outline: none;
  border: none;
  opacity: 0.88;
}
.editMode .cancel button:focus,
.editMode .cancel button:active,
.editMode .cancel button:hover {
  outline: none;
  border: none;
  opacity: 0.88;
}

.editMode input:focus {
  border-bottom: 1px solid#1771d6;
}
.lookingForAJobCheckBox {
  display: inline-flex;
}
.lookingForAJobCheckBox span input {
  height: 10px;
  width: 10px;
}
.lookingForAJobCheckBox span {
  margin-left: 5px;
  font: 20px 'DM Sans', sans-serif;
  color: #1771d6;
}
.editMode li {
  list-style: none;
}
.editHeader {
  text-align: center;
}
.editMode ul {
  position: relative;
  left: -25px;
}
.lookingForAJobDescriptionInput input {
  width: 100px;
}
.editMode input {
  background-color: #151728;
  color: #1771d6;
  border: none;
  width: 100%;
  border-bottom: 1px solid #fff;
  outline: none;
  font: 15px 'DM Sans', sans-serif;
}
.edit {
  font: 15px 'DM Sans', sans-serif;
  position: relative;
  top: -98px;
  color: #5c5e6e;
  transition: color 0.5s;
  cursor: pointer;
}
.active {
  color: #fff;
  border-bottom: 2px solid #1b86f9;
}
.edit:hover {
  border-bottom: 2px solid #1b86f9;
  color: #fff;
}
.title .avatar img {
  position: relative;
  left: 25px;
  width: 150px;
  height: 150px;
  top: -105px;
  border-radius: 50%;
  border: 1px solid #000;
}
.setting img {
  cursor: pointer;
}
.title .cap img {
  height: 190px;
  width: 100%;
  border-radius: 5px;
}
.name {
  position: relative;
  font: 20px 'DM Sans', sans-serif;
  color: #fff;
  top: -180px;
  left: 32px;
}
.changeAvatar {
  font: 10px 'DM Sans', sans-serif;
  color: #fff;
  position: relative;
  margin: -109px 0 0 48.4px;
  border-radius: 10px;
  background-color: #151728;
  padding: 5px;
  width: 92px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.Introduction {
  background-color: #151728;
  width: 310px;
  min-height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.Introduction .heading {
  color: #5c5e6e;
  font: 20px 'DM Sans', sans-serif;
}
.Introduction .status {
  word-wrap: break-word;
  color: #1771d6;
  font: 15px 'DM Sans', sans-serif;
}
.preStatus {
  font: 15px 'DM Sans', sans-serif;
  color: #c3c5d5;
}
.Introduction .status input {
  background-color: #151728;
  color: #1771d6;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

  outline: none;
  border: none;
  font: 15px 'DM Sans', sans-serif;
}
.contact {
  background-color: #151728;
  width: 310px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.contact .heading {
  color: #5c5e6e;
  font: 20px 'DM Sans', sans-serif;
}
.contact li {
  list-style: none;
  position: relative;
  left: -40px;
}
.contacts {
  margin: -20px 0 0 0;
}
.contacts a {
  color: #c3c5d5;
  font: 15px 'DM Sans', sans-serif;
  text-decoration: none;
}
.contacts a:hover {
  color: #5c5e6e;
}
.wrapper {
  display: flex;
}
