.ava img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.ava img:hover {
  transition-duration: 1.5s;
  transform: rotate(720deg) scale(1.2);
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  word-wrap: break-word;
}
.info {
}
.pageNumber {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
}
.pageSelection {
  background-color: #151728;
  color: #fff !important;
}
.arrow button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font: 15px 'DM Sans', sans-serif;
  color: #5c5e6e;
}
.arrow .points {
  color: #fff;
  font: 30px 'DM Sans', sans-serif;
  margin: 5px;
}
.arrow:hover,
.arrow button:hover,
.page:hover,
.page {
  color: #fff;
  transition: 0.5s all;
  border-color: #fff;
}
.arrow {
  width: auto !important  ;
}
.pageCount {
  display: flex;
  justify-content: center;
  font: 15px 'DM Sans', sans-serif;
  padding: 10px;
}
.page,
.arrow {
  cursor: pointer;
  padding: 5px;
  color: #5c5e6e;
  border: 1px solid #5c5e6e;
  border-radius: 5px;
  background-color: none;
  margin: 0 5px 0 5px;
  width: 20px;
  height: 20px;
}
.but {
  margin-top: 15px;
}
.but button {
  font: 15px 'DM Sans', sans-serif;

  border: none;
  outline: none;
  font-weight: bolder;
  border-radius: 5px;
  transition-duration: 0.5s;
}

.but button:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}
.name a {
  text-decoration: none;
  font: 15px 'DM Sans', sans-serif;

  color: #5c5e6e;
  font-weight: bold;
}
.status {
  font: 15px 'DM Sans', sans-serif;
}
.followed button {
  color: #fff;
  background-color: #1b86f9;
  box-shadow: 0 0 3px 0 #1b86f9;
}
.Unfollowed button {
  color: #000;
  margin-top: 15px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.wrapper {
  color: #5c5e6e;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  background-color: #151728;
  width: 121.5px;
  height: 200px;
  padding: 10px;
  /* display: inline; */
}
.pageSelection {
  font-weight: bold;
}
