.MyPost {
  margin-left: 355px;
  margin-top: -470px;
  width: 592px;
}
.getInfo {
  width: 595px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  height: 120px;
  background-color: #151728;
  border-radius: 5px;
}
.getInfo img {
  height: 50px;
  width: 50px;
  margin-left: 30px;
  margin-bottom: -50px;
}
.getInfo textarea {
  outline: none;
  border: none;
  position: relative;
  top: 10px;
  border: none;
  left: 100px;
  background-color: #151728;
  resize: none;
  height: 40px;
  width: 480px;

  color: #9c9cab;
  font: 15px 'DM Sans', sans-serif;
  /* box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5); */

  overflow: hidden;
}
.getInfo textarea:focus {
  /* height: 80px; */
  outline: none;
  /* width: 180px; */
}

.getInfo button {
  box-shadow: 0px 0px 3px 0px #1b86f9;
  transition-duration: 0.5s;
  background-color: #1b86f9;
  border: none;
  height: 20px;
  width: 70px;
  border-radius: 5px;
  margin-top: 15px;
  color: #fff;
  margin-left: 500px;
}
.getInfo button:focus,
.getInfo button:active,
.getInfo button:hover {
  outline: none;
  opacity: 0.88;
}