.MyPost {
  /* padding: 10px; */
  /* margin-top: 50px; */
}
.getInfo textarea {
  resize: none;
  height: 20px;
  width: 804px;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin: 0;
  padding: 4px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.getInfo textarea:focus {
  /* height: 80px; */
  outline: none;
  /* width: 180px; */
}
.getInfo button {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  background-color: blue;
  border: none;
  width: 70px;
  border-radius: 5px;
  float: right;
  color: #fff;
  margin-right: 5px;
}
.getInfo button:focus {
  outline: none;
}
