.MyPost {
  /* padding: 10px; */
  /* margin-top: 50px; */
}
.getInfo textarea {
  resize: none;
  height: 20px;
  width: 804px;
  border-radius: 5px;

  padding: 0;
  margin: 0;
  padding: 4px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

  overflow: hidden;
}
.getInfo textarea:focus {
  /* height: 80px; */
  outline: none;
  /* width: 180px; */
}

.getInfo button {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  background-color: #5181b8;
  border: none;
  width: 70px;
  border-radius: 5px;

  color: #fff;
  margin-left: 739px;
}
.getInfo button:focus,
.getInfo button:active,
.getInfo button:hover {
  outline: none;
  opacity: 0.88;
}
