.img {
  height: 140px;
  display: flex;
}
.avaInfo {
  height: 90px;
  padding: 10px;
  border: solid;
  width: 450px;
  border-radius: 25px;
  background: #000;
  color: #fff;
}
.posts {
  color: red;
}
.ava img {
  height: 100px;
  width: 100px;
  display: flex;
}
.info {
  display: flex;
  position: relative;
  left: 100px;
  bottom: 100px;
  height: 500px;
  padding-left: 10px;
  font: 1em braggadocio;
}
.avaInfo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.contacts {
  font-weight: bold;
}
.contacts a {
  text-decoration: none;
  color: white;
}
.contacts {
  position: absolute;
  margin: 58px 0 0 0;
}
.jobstatus {
  position: absolute;
  margin: 38px 0 0 0;
}
