.img img {
  height: 140px;
  width: 812px;
  display: flex;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.avaInfo {
  height: 90px;
  padding: 10px;
  width: 100%;
  border-radius: 25px;
  background: #000;
  color: #fff;
}
.posts {
  color: red;
}
.ava button:focus {
  outline: none;
}
.ava button:hover {
  background-color: rgba(198, 198, 198, 0.3);

  cursor: pointer;
}
.ava button {
  display: flex;
  border-radius: 25px;
  background-color: white;
  border: none;
  margin: auto;
  font-weight: bold;
  width: 120px;
  font-size: 15px;
  transition-duration: 0.5s;
}
.ava {
  background-color: #fff;
  width: 170px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}
.ava img {
  padding: 10px;
  height: 150px;
  border-radius: 20px;
  /* display: flex; */
  width: 150px;
}
.infoAva {
  display: inline-flex;
  margin-top: 10px;
  width: 100%;
}
.info input {
  font: 1em braggadocio;
}
.info {
  margin-left: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);

  display: flex;
  /* position: relative; */
  /* left: 200px; */
  /* bottom: 165px; */
  padding-left: 10px;
  font: 1em braggadocio;
  height: 170px;
  width: 600px;
}
.avaInfo img {
  width: 100px;
  height: 100px;
  border-radius: 20%;
}
.contacts {
  font-weight: bold;
}
.contacts a {
  text-decoration: none;
  color: color;
  color: black;
}
.contacts a:hover {
  text-decoration: underline;
  color: color;
  color: blue;
}
.contacts {
  width: 50px;
  margin-top: 190px;
  margin-left: -790px;
  padding: 10px;
}
.jobstatus {
}
.UserName {
  padding: 0;
  margin: 0;
  height: 15px;
  font-size: 30px;
}
.AboutMe {
  margin: 10px 0 0 0;
}
.status {
  margin-top: 20px;
}
.status input:focus {
  outline: none;
  border: 1px solid;
  border-radius: 3px;
}
