nav {
  grid-area: n;
  background-color: black;
  width: 300px;
}

.item {
  padding: 0 10px;
  font-size: 20px;
  color: #fff;

  /* outline: 1px solid red; */
  /* pad */
}
.item a {
  text-decoration: none;
  color: #fff;
}
a.active {
  color: gold;
}
.item.setting {
  margin: 50px 0;
  padding: 0;
}
.Friend .fr {
  border-radius: 50%;
  background-color: blue;
  outline: solid;
  width: 30px;
  height: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
