nav {
  grid-area: n;
}

.items {
  padding: 0 10px;
  font: 15px;
  color: #fff;
  width: auto;

  /* outline: 1px solid red; */
  /* pad */
}
.items a {
  text-decoration: none;
  color: #000;
}
a.active {
  color: gold;
}
.items.setting {
  margin: 0 0 25px 0;
  padding: 0;
}
.Friend .fr {
  border-radius: 50%;
  background-color: blue;
  outline: solid;
  width: 30px;
  height: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item a {
  width: 50px;
}
