header img {
  width: 35px;
  height: 35px;
  position: relative;
}
.Pikachu {
  margin: 7px 160px;
  width: 120px;
}
.Pikachu {
  text-decoration: none;
}

header {
  user-select: none;
  background-color: #fff;
  grid-area: h;
  height: 50px;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
}
.size h1 {
  color: red;
}
.Pikachu {
  margin: 7px 305px;
}
header a {
  text-decoration: none;
}
.NH {
  position: absolute;
  top: 12px;
  left: 345px;
  font: 20px Luminari, fantasy;
  font-weight: bold;
  color: #000;
}
.l {
  width: 968px;
  left: 306px;
  position: absolute;
  top: 0;
  height: 50px;
}
.login {
  cursor: pointer;
  margin-top: 10px;
  float: right;
  font: 20px Luminari, fantasy;
}
.login:hover {
}
.login a {
  color: rgba(0, 0, 0, 0.75);
}
.menu {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  height: 35px;
}
.menu button {
  background-color: #fff;
  border: none;
  font: 15px;
  cursor: pointer;
  /* margin: auto auto 0 10px; */
  width: 100%;
}
.menu button:focus {
  background-color: #c6c6c6;
}
.menu button:active {
  outline: none;
}
.menu button:hover {
  background-color: rgba(198, 198, 198, 0.3);
}
.loginActive {
}
