header
{
    position: relative;
    z-index: 1;
    right: 0;
    /*left: 410px;*/
/*margin-top: 213px;*/
    width: 970px;
    height: 50px;
    padding: 0;

    background-color: #151728;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);

    grid-area: h;
}
.search input,
input:before,
input:after
{
    -webkit-user-select: initial;
       -moz-user-select: initial;
        -ms-user-select: initial;
            user-select: initial;

     -khtml-user-select: initial;
}
.search input
{
    font: 15px  'DM Sans', sans-serif;

    position: relative;
    top: -23px;
    left: 45px;

    width: 650px;

    color: #64677a;
    border: none;
    outline: none;
    background-color: #151728;
}
.search img
{
    position: relative;
    top: 25%;

    height: 30px;
    margin-left: 10px;
}
.Pikachu
{
    margin: 7px 305px;
}
header a
{
    text-decoration: none;
}
.NH
{
    font: 20px Luminari, fantasy;
    font-weight: bold;

    position: absolute;
    top: 12px;
    left: 345px;

    color: #64677a;
}
.l
{
    position: absolute;
    top: 0;
    left: 822px;

    width: 150px;
    height: 50px;
}
.notificationIcons img
{
    position: absolute;
    top: 23px;

    display: flex;

    height: 25px;
    margin-top: -10px;
    margin-left: 770px ;
}

.messageIcons img
{
    position: absolute;
    top: 50%;
    right: 210px;

    display: inline-flex;

    height: 20px;
    margin-left: 725px ;

    transform: translate(0,-50%);
}
.login
{
    font: 20px  'DM Sans', sans-serif;

    float: right;

    margin-top: 10px;
    margin-right: 20px;

    cursor: pointer;;
}


.login span
{
    font-size: 17px;

    display: flex;

    color: #64677a;

    justify-content: center;
    align-items: center;
}
.login span .arrowToDown
{
    font-size: 10px;
}
.login img
{
    height: 30px;
    margin: 0 10px;
}
.menu
{
    height: 35px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .75);
}
.menu button
{
    font: 15px;
    /* margin: auto auto 0 10px; */

    width: 100%;

    cursor: pointer;
    transition-duration: .5s;

    border: none;
    background-color: #fff;
}
.menu button:focus
{
    background-color: #c6c6c6;
}
.menu button:active
{
    outline: none;
}
.menu button:hover
{
    background-color: #151728;
}
