.loginPage {

  margin: auto; 
  width: 740px;
  padding: 8% 0 0;
}
.title {
 
  font: 25px 'DM Sans', sans-serif;
}
.form {
  background-color: #151728;
border-radius: 5px;
  position: relative;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.error {
  margin: 20px auto;
  background-color: #ffd6cc;
  width: 302px;
  font: 14px 'DM Sans', sans-serif;
  border-radius: 5px;
}
.form{
  color: #64677a;

}
.form input {
  font: 14px 'DM Sans', sans-serif;
  outline: 0;
  background: #f2f2f2;
  border-radius: 5px;
  width: 270px;
  border: 0;
  color: #64677a;
  margin: 0 0 15px;
  padding: 15px;
 
}
.rememberMe input {
  width: 20px;

}
.rememberMe {
  position: relative;
  left: -93px;
  font: 15px 'DM Sans', sans-serif;

}
.form button {
  border-radius: 5px;

  font: 14px 'DM Sans', sans-serif;
  text-transform: uppercase;
  outline: 0;
  transition-duration: 0.5s;
  box-shadow: 0px 0px 3px 0px #1b86f9;
  transition-duration: 0.5s;

  background-color: #1b86f9;
  width: 302px;
  border: 0;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
}
.form button:hover,
.form button:active,
.form button:focus {
  opacity: 0.88;
}
