.wrapper {
  display: grid;
  grid-template-columns: 150px 1fr;
  margin: 0 150px 0 150px;
  grid-template-rows: 50px 2fr;
  /* width: 1200px; */
  grid-gap: 30px;
  grid-template-areas: 'n h' 'n c';
  /* outline: 1px solid red; */
}
body {
  background: #373e57;
}
.content {
  margin-left: 88px;
  grid-area: c;
  display: flex;
}
