.wrapper {
 max-width: 1200px;
  display: grid;
  grid-template-columns: 150px 1fr;
  margin: 0 150px ;
  grid-template-rows: 50px 2fr;
  /* width: 1200px; */
  /*grid-gap: 30px;*/
  grid-template-areas: 'n h' 'n c';
  /* outline: 1px solid red; */
}
@media max-width: 1200px{
  .wrapper{
    width: 800px; 
  }
}
body {
  background: #373e57;
}
.content {
  margin:20px 120px;
  grid-area: c;
  display: flex;
}
