.Dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  /* padding: 10px; */
}
.Dialogm {
  color: black;
  text-decoration: none;
  font: 20px Helvetica;
}
.itemDialogs {
  padding: 10px;
  color: wheat;
  text-decoration: none;
}
.itemDialogs .Dialog {
}

.active {
  color: gold;
}
.Messages {
  padding: 10px;
}
.Dialog img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.MessageOne {
  /* border: 1px solid black; */
  /* border-radius: 20%; */
  background-color: coral;
}
.MessageTwo {
  /* border: 1px solid black; */
  position: relative;
  right: 0;
}
