.Dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  /* padding: 10px; */
}
.Dialogm {
  color: black;
  text-decoration: none;
  font: 20px Helvetica;
}
.itemDialogs {
  padding: 10px;
  color: wheat;
  text-decoration: none;
}
.itemDialogs .Dialog {
}
.DialogsBlock {
  border: 1px solid black;
}
.active {
  color: gold;
}
.Messages {
  padding: 10px;
}
.Dialog img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.MessageOne {
  /* border: 1px solid black; */
  /* border-radius: 20%; */
  background-color: coral;
}
.MessageTwo {
  /* border: 1px solid black; */
  position: relative;
  right: 0;
}
.Messages input {
  border: none;
  /* border-radius: 6%; */
  outline: none;
  background-color: #f7f0f0;
}

.inp:focus {
  border-bottom: 1px solid #000;
}

.inp {
  width: 553px;
}
.but button:active {
  background-color: #c6c6c6;
}
.but {
  float: right;
}
.but button {
  background-color: blue;
  border-radius: 5%;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 50px;
  outline: none;
}
