.FriendSt {
  display: inline-flex;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: aliceblue;
  /* outline: solid; */
  width: 30px;
  height: 30px;
  left: 0px;
  color: black;
  cursor: pointer;
  margin-left: 2px;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
}
.Friend {
  display: flex;
  margin: 0 35px;
  outline: none;
  cursor: pointer;
  color: #000;
}
